body {
  padding: 0%;
  margin: 0%;
}

h1 {
  text-align: center;
}

.partie1 {
  border: 4px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.partie1 .texte {
  border: 4px solid black;
}
