body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
.fond {
  background: url("img/galaxy-photo.jpg");
  background-size: cover;
  height: 100vh;
}

.header-container {
  position: fixed;
}

.header-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 1000px;
}
.header-menu a {
  text-decoration: none;
  color: white;
  z-index: 999;
  margin: 20px;
}

/* Partie 1 */

.partie1 h1 {
  font-size: 40px;
  position: absolute;
  top: 10px;
  margin-top: 0;
  text-align: center;
  color: white;
  padding-top: 20px;
  font-weight: bold;
}
video {
  position: absolute;
  left: 790px;
  top: 150px;
}
.partie1 .image {
  padding-top: 35px;
}
.partie1 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 60px;
}

.partie1 .texte {
  margin-left: 30px;
  font-size: 20px;
  padding: 15px 40px;
  color: white;
  text-align: center;
  width: 600px;
  height: 205px;
  background: rgba(196, 196, 196, 0.2);
}
/* Partie 2 */

.partie2 {
  margin-top: 10px;
  background: url(img/partie2.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 40px;
}
.partie2 .image1 {
  padding-bottom: 20px;
}
.partie2 video {
  position: absolute;
  left: 790px;
  top: 1050px;
}
.partie2 h1 {
  font-size: 40px;
  color: white;
  text-align: center;
  position: absolute;
  top: 850px;
  font-weight: bold;
}

.texte1 {
  margin-left: 30px;
  color: white;
  background: rgba(196, 196, 196, 0.3);
  height: 215px;
  text-align: center;
  width: 650px;
  padding: 15px 10px;
  font-size: 20px;
}

/* Partie 3 */

.partie3 {
  margin-top: 10px;
  background: url("img/partie3.jpeg");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 40px;
}
.partie3 video {
  position: absolute;
  left: 790px;
  top: 1950px;
}
.partie3 .image2 {
  padding-bottom: 30px;
}
.texte2 {
  margin-left: 30px;
  color: white;
  background: rgba(196, 196, 196, 0.3);
  height: 175px;
  text-align: center;
  padding: 15px 10px 30px 10px;
  width: 650px;
  font-size: 20px;
}
.partie3 h1 {
  font-size: 40px;
  position: absolute;
  top: 1725px;
  font-weight: bold;
  color: white;
}
footer {
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: black;
}
